@charset "UFT-8";
@import url('https://fonts.googleapis.com/css2?family=Roboto&family=Sarala:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster+Two:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-size: 100%;
    background-color: white;
}

.cabecalho {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 24px;
    width: 100%;
}

.titulo-header {
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
    color: #384450;
    transition: all 0.5s;
    cursor: pointer;
}

.titulo-header:hover {
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

.menu-header {
    display: flex;
    gap: 60px;
}

.item-menu-header {
    font-family: 'Sarala', sans-serif;
    color: #384450;
    font-weight: bold;
    font-size: 17px;
}

.item-menu-header:hover {
    color: #05171d;
}

.botao-header {
    font-family: 'Sarala', sans-serif;
    font-weight: bold;
    padding: 6px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #384450;
    color: white;
    border: none;
    border-radius: 5px;
}

.botao-header:hover {
    background-color: #05171d;
}

.primeira-parte-main {
    display: flex;
    background-color: #edf0f5;
    flex-direction: row;
    padding-top: 24px;
    padding-bottom: 24px;
    align-items: center;
    justify-content: space-around;
}

.textos-primeira-parte {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

.titulo-principal {
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 600;
    font-size: 40px;
    color: #384450;
    width: 90%;
    margin-left: 25px;
}

.subtitulo-principal {
    font-family: 'Sarala', sans-serif;
    font-size: 15px;
    margin-top: -20px;
    color: #7c91a6;
    margin-left: 25px;
    width: 36vw;
}

.botao-primeira-parte {
    background-color: #384450;
    border: none;
    border-radius: 24px;
    font-family: 'Sarala', sans-serif;
    font-weight: bold;
    font-size: 15px;
    color: white;
    padding-top: 6px;
    padding-bottom: 6px;
    margin-right: 50px;
    margin-left: 25px;
    width: 20vw;
}

.botao-primeira-parte:hover {
    background-color: #05171d;
}

.imagem-primeira-parte {
    width: 38%;
    filter: grayscale(55%);
    margin-left: -10vw;
}

.segunda-parte-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 58px;
    margin-bottom: 58px;
}

.textos-segunda-parte-main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo-secundario {
    font-family: 'Roboto', sans-serif;
    font-size: 30px;
    font-weight: lighter;
    color: #384450;
}

.subtitulo-secundario {
    font-family: 'Sarala', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    margin-top: 10px;
    color: #7c91a6;
}

.titulos-segundas-parte-da-segunda-parte{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 24px;
    margin-top: 58px;
    margin-bottom: 58px;
}

.numeracao-segunda-parte-da-segunda-parte {
    position: relative; /* posicionar o círculo em relação ao elemento pai */
    color: #7c91a6;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 24px;
}

.numeracao-segunda-parte-da-segunda-parte::before {
    content: "";
    position: absolute; /* posicionar o círculo em relação ao elemento */
    top: -21px;
    left: -21px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #eceff4;
    z-index: -1; /* para colocar atrás do elemento irmão */
}


.titulo-segunda-parte-secundario {
    padding-top: 20px;
    font-family: 'Roboto', sans-serif;
    font-size: 23px;
    font-weight: lighter;
    color: #384450;
}

.subtitulo-segunda-parte-secundario {
    font-family: 'Sarala', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    margin-top: 10px;
    color: #7c91a6;
    width: 25vw;
}

.org-titulo1-sub1-segunda-parte-da-segunda-parte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.org-titulo2-sub2-segunda-parte-da-segunda-parte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.org-titulo3-sub3-segunda-parte-da-segunda-parte {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.terceira-parte-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 58px;
    margin-bottom: 58px;
    background-color: #edf0f5;
}

.textos-terceira-parte {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 38px;
}

.titulo-terciario {
    font-family: 'Roboto', sans-serif;
    font-size: 34px;
    font-weight: lighter;
    color: #384450;
    margin-bottom: 24px;
}

.subtitulo-terciario {
    font-family: 'Sarala', sans-serif;
    font-size: 16px;
    font-weight: lighter;
    color: #7c91a6;
    padding-bottom: 38px;
}

.imagens-terceira-parte {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

.tamanho-imagem-terceira-parte {
    width: 25%;
    padding-right: 10px;
    border-radius: 5px;
    border: #A8B7414D solid 0px;
    transition: all 0.5s;
    cursor: pointer;
}

.tamanho-imagem-terceira-parte:hover {
    -webkit-transform: scale(1.5);
    transform: scale(1.5);
}

.quarta-parte-main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 58px;
    margin-bottom: 58px;
}

.titulo-quarta-parte {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    font-weight: lighter;
    color: #384450;
    margin-bottom: 20px;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

input {
    margin-top: 3vh;
    margin-bottom: 5vh;
    width: 23.6vw;
    height: 7vh;
    padding-left: 5px;
    padding-right: 4px;
    font-family: 'Sarala', sans-serif;
    font-size: 2vh;
}

label {
    text-align: left;
    font-family: 'Sarala', sans-serif;
    color: #384450;
    font-weight: 500;
    font-size: 20px;
    position: absolute;
    left: 0;
    width: 100%;
    top: -2vh;
}

.form-row {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.form-nome {
    display: flex;
    width: 100%;
    margin: 1.2vw;
    position: relative;
    align-items: center;
    justify-content: center;
}

.form-email {
    display: flex;
    width: 100%;
    margin: 1.2vw;
    position: relative;
    align-items: center;
    justify-content: center;
}

.form-mensagem {
    display: flex;
    width: 50%;
    margin-top: -2.5vh;
    position: relative;
    align-items: center;
    justify-content: center;
}

textarea {
    margin-top: 3vh;
    margin-bottom: 3vh;
    width: 76.2vw;
    height: 28vh;
    font-family: 'Sarala', sans-serif;
    font-size: 2vh;
    padding-left: 5px;
    padding-right: 4px;
    padding-top: 5px;
}

.botao-quarta-parte {
    font-family: 'Sarala', sans-serif;
    font-weight: bold;
    padding: 6px;
    padding-left: 25px;
    padding-right: 25px;
    margin-bottom: -5px;
    background-color: #384450;
    color: white;
    border: none;
    border-radius: 5px;
    width: 11vw;
    font-size: 16px;
}

.botao-quarta-parte:hover {
    background-color: #05171d;
}

.rodape{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    padding: 24px;
    background-color: #edf0f5;
}

.texto-copyright {
    margin-right: 22px;
    font-family: 'Sarala', sans-serif;
    font-size: 14px;
    font-weight: lighter;
    color: #7c91a6;
}

.icones-footer {
    margin-left: 22px;
}

.tamanho-icone {
    margin-right: 10px;
    width: 20px;
}